/*********************
        SPEAKER
*********************/
.joindin-speaker
{
   background: #FFFFFF;
   border: 1px solid #DDDDDD;
   border-radius: 5px;
   display: inline-block;
   padding: 10px;
}

.joindin-speaker a
{
   color: #2368AF;
}

.joindin-speaker h1
{
   margin-bottom: 5px;
   margin-top: 0;
}

.joindin-speaker img
{
   margin-right: 10px;
   vertical-align: middle;
}

/*********************
      TALK COMMENT
*********************/
.joindin-talk-comment
{
   background: #FFFFFF;
   border: 1px solid #DDDDDD;
   border-radius: 5px;
   padding: 10px;
}

.joindin-talk-comment blockquote
{
   margin: 0;
}

.joindin-talk-comment blockquote:after
{
   clear: both;
   content: "";
   display: table;
}

.joindin-talk-comment .rating-wrapper
{
   float: left;
   width: 140px;
}

.joindin-talk-comment .text-wrapper
{
   overflow: hidden;
}

.joindin-talk-comment .text-wrapper p
{
   margin-top: 0;
}

/*********************
         TALK
*********************/
.joindin-talk
{
   background: #F0F4F8;
   border: 1px solid #D7DCDF;
   border-radius: 6px;
   margin-bottom: 10px;
   padding: 10px 15px;
}

.joindin-talk a
{
   color: #2368AF;
}

.joindin-talk h1
{
   margin-bottom: 5px;
   margin-top: 0;
}

.joindin-talk img
{
   display: block;
   margin-top: 10px;
}

/*********************
         EVENT
*********************/
.joindin-event
{
   background: #FFFFFF;
   border: 1px solid #DDDDDD;
   border-radius: 5px;
   display: inline-block;
   padding: 10px;
}

.joindin-event img
{
   float: left;
   margin-bottom: 10px;
   margin-right: 10px;
   vertical-align: middle;
}

.joindin-event a
{
   color: #2368AF;
   display: block;
   margin-bottom: 5px;
}

.joindin-event h1
{
   margin-bottom: 5px;
   margin-top: 0;
}

.joindin-event p
{
   clear: both;
}

.joindin-event dl
{
   padding-left: 20px;
}

.joindin-event dt
{
   display: list-item;
   float: left;
   margin-right: 3px;
}

.joindin-event dd
{
   margin: 0;
}

/*********************
         CFPs
*********************/
.joindin-cfps
{
   background: #FFFFFF;
   border: 1px solid #DDDDDD;
   border-radius: 5px;
   display: inline-block;
}

.joindin-cfps ul
{
   list-style-type: none;
   margin: 0;
   max-height: 250px;
   overflow: auto;
   padding: 0;
}

.joindin-cfps li
{
   padding: 10px;
}

.joindin-cfps li:nth-child(2n)
{
   background-color: #F0F4F8;
}

.joindin-cfps li:after
{
   clear: both;
   content: "";
   display: table;
}

.joindin-cfps li + li
{
   margin-top: 10px;
}

.joindin-cfps .icon-wrapper
{
   float: left;
   height: 48px;
   margin-right: 15px;
   width: 48px;
}

.joindin-cfps img
{
   max-width: 100%;
}

.joindin-cfps .info-wrapper
{
   overflow: hidden;
}

.joindin-cfps a
{
   color: #2368AF;
   display: block;
   margin-bottom: 5px;
}

.joindin-cfps h1
{
   font-size: 25px;
   margin-bottom: 5px;
   margin-top: 0;
}

/*********************
        THEMES
*********************/
/* Grain */
.joindin-speaker[data-theme="grain"],
.joindin-talk-comment[data-theme="grain"],
.joindin-talk[data-theme="grain"],
.joindin-event[data-theme="grain"],
.joindin-cfps[data-theme="grain"]
{
   background-color: #DDCBAF;
   border-color: #A89B89;
   color: #000000;
}

.joindin-speaker[data-theme="grain"] a,
.joindin-talk[data-theme="grain"] a,
.joindin-event[data-theme="grain"] a,
.joindin-cfps[data-theme="grain"] a
{
   color: #000000;
}

.joindin-cfps[data-theme="grain"] li:nth-child(2n)
{
   background-color: #A89B89;
}

/* Picton */
.joindin-speaker[data-theme="picton"],
.joindin-talk-comment[data-theme="picton"],
.joindin-talk[data-theme="picton"],
.joindin-event[data-theme="picton"],
.joindin-cfps[data-theme="picton"]
{
   background-color: #55ACEE;
   border-color: #CCCCCC;
   color: #FFFFFF;
}

.joindin-speaker[data-theme="picton"] a,
.joindin-talk[data-theme="picton"] a,
.joindin-event[data-theme="picton"] a,
.joindin-cfps[data-theme="picton"] a
{
   color: #FFFFFF;
}

.joindin-cfps[data-theme="picton"] li:nth-child(2n)
{
   background-color: #D9534F;
}

/* Shark */
.joindin-speaker[data-theme="shark"],
.joindin-talk-comment[data-theme="shark"],
.joindin-talk[data-theme="shark"],
.joindin-event[data-theme="shark"],
.joindin-cfps[data-theme="shark"]
{
   background: #2B2E36;
   border-color: #B56B65;
   color: #FFFFFF;
}

.joindin-speaker[data-theme="shark"] a,
.joindin-talk[data-theme="shark"] a,
.joindin-event[data-theme="shark"] a,
.joindin-cfps[data-theme="shark"] a
{
   color: #FFFFFF;
}

.joindin-cfps[data-theme="shark"] li:nth-child(2n)
{
   background-color: #BB0000;
}