/*********************
        SPEAKER
*********************/
.joindin-speaker
{
   display: inline-block;
   background-color: #FFFFFF;
   border: 1px solid #DDDDDD;
   border-radius: 5px;
   padding: 10px;
}

.joindin-speaker a
{
   color: #2368AF;
}

.joindin-speaker h1
{
   margin-top: 0;
   margin-bottom: 5px;
}

.joindin-speaker img
{
   vertical-align: middle;
   margin-right: 10px;
}

/*********************
      TALK COMMENT
*********************/
.joindin-talk-comment
{
   padding: 10px;
   background: #FFFFFF;
   border-radius: 5px;
   border: 1px solid #DDDDDD;
}

.joindin-talk-comment blockquote
{
   margin: 0;
}

.joindin-talk-comment blockquote:after
{
   content: "";
   display: table;
   clear: both;
}

.joindin-talk-comment .rating-wrapper
{
   width: 140px;
   float: left;
}

.joindin-talk-comment .text-wrapper
{
   width: auto;
   overflow: hidden;
}

.joindin-talk-comment .text-wrapper p
{
   margin-top: 0;
}

/*********************
         TALK
*********************/
.joindin-talk
{
   background-color: #F0F4F8;
   border: 1px solid #D7DCDF;
   border-radius: 6px;
   padding: 10px 15px;
   margin-bottom: 10px;
}

.joindin-talk a
{
   color: #2368AF;
}

.joindin-talk h1
{
   margin-top: 0;
   margin-bottom: 5px;
}

.joindin-talk img
{
   display: block;
   margin-top: 10px;
}