/*********************
        SPEAKER
*********************/
.joindin-speaker
{
   background: #FFFFFF;
   border: 1px solid #DDDDDD;
   border-radius: 5px;
   display: inline-block;
   padding: 10px;
}

.joindin-speaker a
{
   color: #2368AF;
}

.joindin-speaker h1
{
   margin-bottom: 5px;
   margin-top: 0;
}

.joindin-speaker img
{
   margin-right: 10px;
   vertical-align: middle;
}

/*********************
      TALK COMMENT
*********************/
.joindin-talk-comment
{
   background: #FFFFFF;
   border: 1px solid #DDDDDD;
   border-radius: 5px;
   padding: 10px;
}

.joindin-talk-comment blockquote
{
   margin: 0;
}

.joindin-talk-comment blockquote:after
{
   clear: both;
   content: "";
   display: table;
}

.joindin-talk-comment .rating-wrapper
{
   float: left;
   width: 140px;
}

.joindin-talk-comment .text-wrapper
{
   overflow: hidden;
   width: auto;
}

.joindin-talk-comment .text-wrapper p
{
   margin-top: 0;
}

/*********************
         TALK
*********************/
.joindin-talk
{
   background: #F0F4F8;
   border: 1px solid #D7DCDF;
   border-radius: 6px;
   margin-bottom: 10px;
   padding: 10px 15px;
}

.joindin-talk a
{
   color: #2368AF;
}

.joindin-talk h1
{
   margin-bottom: 5px;
   margin-top: 0;
}

.joindin-talk img
{
   display: block;
   margin-top: 10px;
}

/*********************
         EVENT
*********************/
.joindin-event
{
   background: #FFFFFF;
   border: 1px solid #DDDDDD;
   border-radius: 5px;
   display: inline-block;
   padding: 10px;
}

.joindin-event img
{
   float: left;
   margin-bottom: 10px;
   margin-right: 10px;
   vertical-align: middle;
}

.joindin-event a
{
   color: #2368AF;
   display: block;
   margin-bottom: 5px;
}

.joindin-event h1
{
   margin-bottom: 5px;
   margin-top: 0;
}

.joindin-event p
{
   clear: both;
}

.joindin-event dl
{
   padding-left: 20px;
}

.joindin-event dt
{
   display: list-item;
   float: left;
   margin-right: 3px;
}

.joindin-event dd
{
   margin: 0;
}

/*********************
         CFPs
*********************/
.joindin-cfps
{
   background: #FFFFFF;
   border: 1px solid #DDDDDD;
   border-radius: 5px;
   display: inline-block;
}

.joindin-cfps ul
{
   list-style-type: none;
   margin: 0;
   max-height: 250px;
   overflow: auto;
   padding: 0;
}

.joindin-cfps li
{
   padding: 10px;
}

.joindin-cfps li:nth-child(2n)
{
   background-color: #F0F4F8;
}

.joindin-cfps li:after
{
   clear: both;
   content: "";
   display: table;
}

.joindin-cfps li + li
{
   margin-top: 10px;
}

.joindin-cfps .icon-wrapper
{
   display: inline-block;
   float: left;
   height: 48px;
   margin-right: 15px;
   width: 48px;
}

.joindin-cfps img
{
   max-width: 100%;
}

.joindin-cfps .info-wrapper
{
   overflow: hidden;
}

.joindin-cfps a
{
   color: #2368AF;
   display: block;
   margin-bottom: 5px;
}

.joindin-cfps h1
{
   font-size: 25px;
   margin-bottom: 5px;
   margin-top: 0;
}